**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

venv/
env/
.env/
.venv/
ENV/
**/venv/
**/env/

.env
.env.local
.env.*


postgres_data/
mongo_data/
localstack_data/
localstack/
*.db

# --- Docker ---
docker-compose.override.yml
*.log

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db